.collage{
    position: absolute;
}

#special1{
    background-color:black; /* Background color */
}

p{
    color: white; /* Font color of all paragraph elements */
}

h1{
    color: red; /* Font color of all H1 elements */
}

h2{
    color: blue; /* Font color of all H2 elements */
}

h3{
    color: green; /* Font color of all H3 elements */
}

h4{
    color: yellow; /* Font color of all H4 elements */
}

ul{
    color: white; /* Font color of all unordered list elements */
}

ol{
    color: white; /* Font color of all ordered list elements */
}

blockquote{
    color: white; /* Font color of all block quote elements */
}

.cropcontainer {
    position:absolute;
    overflow: hidden;
    width: 100px;
    height: 10px;
}

.display-exp {
    display:inline-block;
    padding:0px;
}

.flexbox {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.flexbox div {
    margin:5%;
    padding:5%;
    font-size:20px;
    flex:7;
}

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  @keyframes myAnimation {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: lime;}
    100% {color: rgb(0, 110, 255);}
  }
  
  .center {
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.collage:hover {
    color: blue;
}